<nav class="main-Bg">
    <!-- logo -->
    <div class="Mode">
        <button onclick=" changBgDark()"></button>
        <button onclick=" changBgWhite()" class="light"></button>
    </div>

    <div class="togle-bar" >
        <div class="icon" onclick="myFunction()">
           <span></span>
           <span></span>
            <span></span>
        </div>
        <div class="brand">
           
            <h3><a href="#" class="logo">Al-Ghaith</a>
            </h3>
        </div>
    </div>
    <!-- navbar -->

    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href=""></a></li>

        <div class="login">
          <ul class="navbar-nav ml-auto">
            <% if (!user) { %>
              <li class="nav-item active">
                <a class="nav-link" href="/users/login"> Login</a>
              </li>

              <li class="nav-item active">
                  <a class="nav-link" href="/users/signup"> Signup</a>
                </li>
              <% } else { %>
              <li class="nav-item active">
                <a class="nav-link" href="/users/logout"> logout</a>
              </li>
              <%}  %>
       
          </ul>
        </div>
        
    </ul>
      <!-- navbar -->
</nav>
